
* {
    margin: 12;
    padding: 20;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d41515;
    color: #333;
    line-height: 2.0;
    padding: 30px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(20, 50, 219);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(7, 202, 11, 0.1);
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 12px;
}

.header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 50px;
}

.profile-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
    flex: 1;
    padding-left: 20px;
}

.info h1 {
    font-size: 2.5rem;
    color: #92c71f;
}

.profession {
    font-size: 1.2rem;
    font-weight: 400;
    color: #0a0a0a;
}

.contact {
    font-size: 1rem;
    font-weight: 300;
    color: #0c0c0c;
}


section {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4rem;
    color: #444;
    margin-bottom: 10px;
}


.skills ul {
    list-style: none;
}

.skills li {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 5px;
}

/* Botones */
.contact-buttons {
    display: flex;
    justify-content: space-around;
    grid-column: span 2; 
    margin-top: 20px;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; 
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .profile-img {
        width: 100px;
        height: 100px;
    }

    .info {
        padding-left: 0;
        padding-top: 10px;
    }

    .info h1 {
        font-size: 2rem;
    }

    .contact-buttons {
        flex-direction: column;
        margin-top: 20px;
    }
}


